* script,
* before script,
* after script {
  display: none;
}

@font-face {
  font-family: NeoSansPro-Regular;
  src: url(../fonts/NeoSansPro-Regular.woff), url(../fonts/NeoSansPro-Regular.eot), url(../fonts/NeoSansPro-Regular.ttf);
}

body {
  font-family: 'NeoSansPro-Regular';
  color: #333333;
  margin: 0;
  /* Navigation */
}

body .bg {
  background-image: url(../img/Egypt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body .container {
  width: 1136px;
  margin: 0 auto;
}

body nav {
  max-width: 1200px;
  height: 80px;
  top: 0px;
  background: rgba(255, 255, 255, 0.95);
  margin: 0 auto;
}

body nav .nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

body nav .nav__row .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .nav__row .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body nav .nav__row .nav__list .nav__item {
  font-size: 14px;
}

body nav .nav__row .nav__list .nav__item .nav__link {
  font-family: 'NeoSansPro-Regular';
  letter-spacing: 0.015em;
  text-decoration: none;
  color: #333333;
  padding: 12px;
  border-bottom: 2px solid transparent;
}

body nav .nav__row .nav__list .nav__item .nav__link:hover {
  border-color: #beb400;
  color: #a0a0a0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

body nav .nav__row .button {
  display: inline-block;
  margin-left: 15px;
  padding: 10px 12px;
  background: #ffffff;
  border: 1px solid #78a7cd;
  border-radius: 4px;
  font-family: 'NeoSansPro-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.015em;
  text-align: center;
  text-decoration: none;
  color: #223880;
}

body .header {
  color: #ffffff;
}

body .header .header__title {
  margin-top: 178px;
  margin-bottom: 16px;
  font-family: 'NeoSansPro-Regular';
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
}

body .header div.header__text p {
  margin-bottom: 139px;
  font-size: 32px;
  line-height: 1.25;
}

body .header .header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 245px;
}

body .header .header__row .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header .header__row .header__content .header__calc {
  width: 464px;
  height: 308px;
  margin-right: 112px;
  background: rgba(13, 13, 13, 0.5);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 8px;
}

body .header .header__row .header__content .header__calc form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 24px;
}

body .header .header__row .header__content .header__calc form .header__calc-name {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.025em;
  padding-top: 20px;
  padding-bottom: 4px;
}

body .header .header__row .header__content .header__calc form input.label {
  position: relative;
  height: 56px;
  border-radius: 4px 4px 0 0;
  background-color: #fff;
}

body .header .header__row .header__content .header__calc form .label__icon {
  position: absolute;
  background: url("../img/label.svg") no-repeat center left;
}

body .header .header__row .header__content .header__info {
  width: 176px;
  height: 285px;
  margin-right: 104px;
  background: rgba(13, 13, 13, 0.5);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 8px;
}

body .header .header__row .header__content .header__info .header__info-content {
  padding: 20px 16px;
}

body .header .header__row .header__content .header__info .header__info-content .header__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  letter-spacing: 0.025em;
  line-height: 1.2;
  padding-bottom: 28px;
}

body .header .header__row .header__content .header__info .header__info-content .header__info-block:last-child {
  padding-bottom: 0;
}

body .header .header__row .header__content .header__info .header__info-content .header__info-block .header__info-title {
  color: #beb400;
}

body .header .header__row .header__content .header__info .header__info-content .header__info-block .header__info-text {
  font-size: 20px;
  line-height: 1.2;
}

body .header .header__row .header__content .header__info .header__info-content .header__info-block .header__info-value {
  padding-top: 5px;
}

body .header .header__row .header__content .header__info .header__info-content .header__info-block .face__icon {
  padding-top: 8px;
}

body .header .header__row .header__content .header__info .header__info-content .header__info-block .face__icon .face__icon-gray {
  opacity: 0.6;
}

body .header .header__row .header__content .header__message {
  margin-top: 164px;
  position: relative;
}

body .header .header__row .header__content .header__message .header__message-block {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 22px;
  left: 30px;
}

body .header .header__row .header__content .header__message .header__message-block .covid__icon {
  width: 40px;
  height: 40px;
}

body .header .header__row .header__content .header__message .header__message-block .header__message-text {
  max-width: 112px;
  padding-left: 36px;
  color: #333333;
}

body .header .header__row .header__content .header__message .header__message-block .header__message-text .text__yes {
  font-size: 32px;
}

body .header .header__row .header__content .header__message .header__message-block .header__message-icon {
  height: 20px;
  width: 20px;
  margin: 10px 20px;
}
/*# sourceMappingURL=style.css.map */