*,
* before,
* after {
    & script {
        display: none;
    }
}

///////////////////////////////////////////
///////////////////////////////////////////
@font-face {
    font-family: NeoSansPro-Regular;
    src: url(../fonts/NeoSansPro-Regular.woff), url(../fonts/NeoSansPro-Regular.eot),
        url(../fonts/NeoSansPro-Regular.ttf);
}

body {
    font-family: 'NeoSansPro-Regular';
    color: #333333;
    margin: 0;
    & .bg {
        background-image: url(../img/Egypt.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    & .container {
        width: 1136px;
        margin: 0 auto;
    }

    /* Navigation */
    & nav {
        max-width: 1200px;
        height: 80px;
        top: 0px;
        background: rgba(255, 255, 255, 0.95);
        margin: 0 auto;
        // position: relative;

        & .nav__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 30px;

            // & .nav__logo {
            //     position: absolute;
            //     top: -20px;
            //     left: -10px;
            // }

            & .menu {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            & .nav__list {
                display: flex;
                margin: 0;
                padding: 0;
                list-style-type: none;

                & .nav__item {
                    font-size: 14px;

                    & .nav__link {
                        font-family: 'NeoSansPro-Regular';
                        letter-spacing: 0.015em;
                        text-decoration: none;
                        color: #333333;
                        // padding: 0 12px;
                        padding: 12px;
                        border-bottom: 2px solid transparent;

                        &:hover {
                            border-color: #beb400;
                            color: #a0a0a0;
                            transition: all 0.2s ease-in;
                        }
                    }
                }
            }
            & .button {
                display: inline-block;
                margin-left: 15px;
                padding: 10px 12px;
                background: #ffffff;
                border: 1px solid #78a7cd;
                border-radius: 4px;

                font-family: 'NeoSansPro-Regular';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 1;
                letter-spacing: 0.015em;
                text-align: center;
                text-decoration: none;
                color: #223880;
            }
        }
    }
    & .header {
        color: #ffffff;

        & .header__title {
            margin-top: 178px;
            margin-bottom: 16px;
            font-family: 'NeoSansPro-Regular';
            font-weight: 400;
            font-size: 60px;
            line-height: 72px; 
        }
            
        & div.header__text p {
            margin-bottom: 139px;
            font-size: 32px;
            line-height: 1.25;
        }

        & .header__row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 245px;

            & .header__content {
                display: flex;
                
                & .header__calc {
                    width: 464px;
                    height: 308px;
                    margin-right: 112px;
                    background: rgba(13, 13, 13, 0.5);
                    backdrop-filter: blur(8px);
                    border-radius: 8px;

                    & form {
                        display: flex;
                        flex-direction: column;
                        padding: 0 24px;

                        & .header__calc-name {
                            font-size: 12px;
                            line-height: 1.33;
                            letter-spacing: 0.025em;
                            padding-top: 20px;
                            padding-bottom: 4px;
                        }

                        & input.label {
                            position: relative;
                            height: 56px;
                            border-radius: 4px 4px 0 0;
                            background-color: #fff;
                        }
                        & .label__icon {
                            position: absolute;
                            background: url("../img/label.svg") no-repeat center left;                            
                        }
                    }
                }
        
                & .header__info {
                    width: 176px;
                    height: 285px;
                    margin-right: 104px;
                    background: rgba(13, 13, 13, 0.5);
                    backdrop-filter: blur(8px);
                    border-radius: 8px;

                    & .header__info-content {
                        padding: 20px 16px;

                        & .header__info-block {
                            display: flex;
                            flex-direction: column;
                            font-size: 12px;
                            letter-spacing: 0.025em;
                            line-height: 1.2;
                            padding-bottom: 28px;
    
                            &:last-child {
                                padding-bottom: 0;
                            }
                            
                            & .header__info-title {
                                color: #beb400;
                            }
    
                            & .header__info-text {
                                font-size: 20px;
                                line-height: 1.2;
                            }
    
                            & .header__info-value {
                                padding-top: 5px;
                            }

                            & .face__icon {
                                padding-top: 8px;

                                & .face__icon-gray {
                                opacity: 0.6;
                                }
                            }
                        }
                    }  
                }
        
                & .header__message {
                    margin-top: 164px;
                    position: relative;

                    & .header__message-block {
                        position: absolute;
                        display: flex;
                        top: 22px;
                        left: 30px;

                        & .covid__icon {
                            width: 40px;
                            height: 40px;
                        }

                        & .header__message-text {
                            max-width: 112px;
                            padding-left: 36px;
                            color: #333333;

                            & .text__yes {
                                font-size: 32px;
                            }
                        }

                        & .header__message-icon {
                            height: 20px;
                            width: 20px;
                            margin: 10px 20px;
                        }
                    }
                }
            }  
        }
        
    }
}
